.Email {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Email span {
    font-size: 2em;
    color: purple;
}

.Email form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
    width: 30vh;
}

.Email label {
    color: wheat;
}

.Email input {
    padding: 2vh 0;
    margin: 2vh 0;
    border: 1px solid black;
    text-align: center;
    outline: none;
}
.Email button {
    padding: 2vh;
    width: 15vh;
    margin: 0 auto;
    background-color: purple;
    color: wheat;
    border: none;
}